body {
  background: rgb(100, 100, 100);
}

h1 {
  color:rgba(240, 240, 240, 0.6);
  font-size: 60px;
  text-align: right;
  margin-right: 60px;
}

.left {
  width: 1000px;
}
.right {
  width:100%;
}

.account-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  opacity: 0.6;
}

.sender-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  opacity: 0.6;
}

.tx-card {
  color: white;
  background: black;
  font-size: 18px;
  border-radius: 16px;
  padding: 16px;
  width: 1000px;
  margin: 16px;
  opacity: 0.6;
}
.tx-card :visited{
    color:rgb(240, 240, 240);
}

.tx-card :link {
  color:rgb(109, 119, 246);
  text-decoration:underline;
}

.textfiled-wrapper {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 300px;
}

.botton {
  font-size: 16px;
  color:black;
  margin: 16px 16px;
  padding: 3px 3px;
}
  

#wallet-addr {
  font-size: 20px;
  font-weight: bold;
}

.container {
  font-size: 20px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
