header {
  height: 170px;
  position: fixed;
  top: 0px;
  z-index: 90;
  width:100%;
}


h1 {
  color:rgba(240, 240, 240, 0.8);
  font-size: 60px;
  text-align: right;
  margin-right: 50px;
  z-index: 100;
}


body {
  background-image: url(https://data.comsa.io/user/efae247f-7318-4d2d-ae68-4f7e772819b6/asset/1147c953-3044-47f7-a38f-c966219cb7c7.jpeg);
  background-size: cover;
}

.container-main {
  float:left;
  width: 50%;
  margin-top:170px;
}
.left {
    width: 100%;
}
.right {
    width: 100%;
    padding-right:16px
}

.account-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  opacity: 0.8;
}

.sender-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px 16px 20px 16px;
  opacity: 0.8;
}

.tx-card {
  color: white;
  background: black;
  font-size: 16px;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  opacity: 0.8;
}
.tx-card :visited{
  color:rgb(38, 197, 243);
}
.tx-card :link {
  color:rgb(109, 119, 246);
  text-decoration:underline;
  width: 100%;
}
.tx-card :link:hover {
  color:rgb(38, 197, 243);
}  

.text {
  width: 100%;
  margin: 16px;
  word-wrap: break-word;
}
  
.textfiled-wrapper {
  font-size: 18px;
  width: 100%;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 92%;
  height: 20px;
  margin-left: 8px;
  margin-bottom: 10px;
}

#wallet-addr {
  font-size: 20px;
  font-weight: bold;
  overflow: visible;
}

.sssbutton {
  color:rgb(109, 119, 246);
}

.sssbutton :hover {
  background-color:rgba(109, 119, 246,0.8);
  color:rgba(43, 45, 66,0.8);
  transition: all 1s;
}
  
.container {
  font-size: 20px;
  margin: 16px;
  padding-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 8px;
  border-radius: 4px;
}
