body {
  background: rgb(242, 242, 242);
}

h1 {
  color:rgba(22, 22, 22, 0.4);
  font-size: 70px;
  text-align: right;
  margin-right: 60px;
}

.left {
  width: 800px;
}
.right {
  width: 100%;
}

.account-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  opacity: 0.8;
}

.sender-card {
  color: white;
  background: black;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  opacity: 0.8;
}

.tx-card {
  color: white;
  background: black;
  border-radius: 16px;
  padding: 32px;
  width: 800px;
  margin: 16px;
  opacity: 0.8;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 300px;
}

#wallet-addr {
  font-size: 20px;
  font-weight: bold;
}

.container {
  font-size: 20px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
